* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
}

html,
body {
    font-family: Montserrat;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

/* 
===========================
Navbar 
===========================
*/

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #183036;
    padding: 1rem 8rem;
}

.logo {
    font-weight: 600;
    font-size: 20px;
}

nav {
    /* Optional styling */
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 14px;
}

.hire-me {
    background: #007E68;
    padding: 0.6rem 1.5rem;
    border-radius: 4rem;
    font-weight: 500;
}

.hire-me:hover,
.hire-me:visited,
.hire-me:active {
    color: white;
}

.bx-moon,
.bx-search {
    cursor: pointer;
    font-size: 20px;
}

/* 
===========================
Footer 
===========================
*/

.footer-top {
    background-color: #0d1b1e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem;
}

.contact-info {
    margin-top: 1rem;
}

.contact-list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.contact-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 14px;
}

.footer-bottom {
    background-color: #000000;
    padding: 1rem 8rem;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-list-container {
    display: flex;
    flex-direction: row;
    gap: 8px; /* small space between icons */
    font-size: 20px; /* slightly bigger for better visibility */
}

.social-list-container li {
    list-style: none; /* remove bullets */
}

.social-list-container a {
    color: white; /* keep icons white */
    font-size: 20px;
    transition: color 0.3s ease;
}

